<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ BaseInfo.shop_name }}{% if subtitle is defined and subtitle is not empty %} / {{ subtitle }}{% elseif title is defined and title is not empty %} / {{ title }}{% endif %}</title>{% if PageLayout.author is not empty %}
    <meta name="author" content="{{ PageLayout.author }}">{% endif %}
    {% if PageLayout.description is not empty %}
    <meta name="description" content="{{ PageLayout.description }}">{% endif %}
    {% if PageLayout.keyword is not empty %}
    <meta name="keywords" content="{{ PageLayout.keyword }}">{% endif %}
    {% if PageLayout.meta_robots is not empty %}
    <meta name="robots" content="{{ PageLayout.meta_robots }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ app.config.front_urlpath }}/img/common/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">{% block stylesheet %}{% endblock %}
    {% if PageLayout.Head %}
     {{ include('block.twig', {'Blocks': PageLayout.Head}) }}
    {% endif %}
  </head>
  <body class="{{ body_class|default('other_page') }}">
    <header id="header">
      <div class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="{{ url('homepage') }}" class="navbar-brand">{{ BaseInfo.shop_name }}</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            {% if PageLayout.Header %}
              {{ include('block.twig', {'Blocks': PageLayout.Header}) }}
            {% endif %}
          </div>
        </div>
      </div>
    </header>{% if PageLayout.ContentsTop %}
    <div id="contents_top" class="container">
      <div class="navbar">{{ include('block.twig', {'Blocks': PageLayout.ContentsTop}) }}</div>
    </div>{% endif %}
    <div class="container">{% set mainColumnSize = 12 %}
      <div class="row">
        {% if PageLayout.SideLeft %}
        {% set mainColumnSize = mainColumnSize -3 %}
        <div id="side_left" class="col-md-3">{{ include('block.twig', {'Blocks': PageLayout.SideLeft}) }}</div>{% endif %}
        {# main のカラム幅を計算 #}
        {% if PageLayout.SideRight %}
        {% set mainColumnSize = mainColumnSize -3 %}
        {% endif %}
        <main class="{{ 'col-md-' ~ mainColumnSize }}">{% if PageLayout.MainTop %}
          <div id="main_top">{{ include('block.twig', {'Blocks': PageLayout.MainTop}) }}</div>{% endif %}
          <div id="main">{% block main %}{% endblock %}</div>{% if PageLayout.MainBottom %}
          <div id="main_bottom">{{ include('block.twig', {'Blocks': PageLayout.MainBottom}) }}</div>{% endif %}
        </main>{% if PageLayout.SideRight %}
        <div id="side_right" class="col-md-3">{{ include('block.twig', {'Blocks': PageLayout.SideRight}) }}</div>{% endif %}
      </div>
    </div>
    <div class="container">
      {% if PageLayout.ContentsBottom %}
        {{ include('block.twig', {'Blocks': PageLayout.ContentsBottom}) }}
      {% endif %}
    </div>{% if PageLayout.Footer %}
    <hr>
    <footer>
      <div class="container">{{ include('block.twig', {'Blocks': PageLayout.Footer}) }}</div>
    </footer>{% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ app.config.front_urlpath }}/js/eccube.js"></script>{% block javascript %}{% endblock %}
  </body>
</html>