
{% extends 'default_frame.twig' %}
{% set body_class = 'product_page' %}
{% block javascript %}
<script>
  eccube.classCategories = {{ Product.class_categories|json_encode|raw }};
  
  // 規格2に選択肢を割り当てる。
  function fnSetClassCategories(form, classcat_id2_selected) {
    var $form = $(form);
    var product_id = $form.find('input[name=product_id]').val();
    var $sele1 = $form.find('select[name=classcategory_id1]');
    var $sele2 = $form.find('select[name=classcategory_id2]');
    eccube.setClassCategories($form, product_id, $sele1, $sele2, classcat_id2_selected);
  }
  
  {% if form.classcategory_id2 is defined %}
  fnSetClassCategories(
    document.form1, {{ form.classcategory_id2.vars.value|json_encode|raw }}
  );
  {% endif %}
  
</script>{% endblock %}
{% block main %}
<div class="row">{# 商品写真 #}
  <div class="col-sm-6">{% if Product.ProductImage|length > 1 %}  
    <div id="product-detail-carousel" data-ride="carousel" class="carousel slide">
      <ol class="carousel-indicators">
        {% set index = 0 %}
        {% for ProductImage in Product.ProductImage %}
        <li data-target="#product-detail-carousel" data-slide-to="{{ index }}" class="{{ index == 0 ? 'active' }}"></li>  {% set index = index + 1 %}
        {% endfor %}
      </ol>
      <div role="listbox" class="carousel-inner">
        {% set index = 0 %}
        {% for ProductImage in Product.ProductImage %}
        <div class="item {{ index == 0 ? 'active' }}"><img src="{{ app.config.image_save_urlpath }}/{{ ProductImage|no_image_product }}" alt="" class="img-responsive"/></div>  {% set index = index + 1 %}
        {% endfor %}
      </div><a href="#product-detail-carousel" role="button" data-slide="prev" class="left carousel-control"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span><span class="sr-only">Previous</span></a><a href="#product-detail-carousel" role="button" data-slide="next" class="right carousel-control"><span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span><span class="sr-only">Next</span></a>
    </div>
    <hr/>
    <div class="row">
      {# サムネイル #}
      {% set index = 0 %}
      {% for ProductImage in Product.ProductImage %}
      <div class="col-xs-4 col-md-3"><a href="#product-detail-carousel" data-target="#product-detail-carousel" data-slide-to="{{ index }}"><img src="{{ app.config.image_save_urlpath }}/{{ ProductImage|no_image_product }}" alt="" class="img-responsive"/></a></div>  {% set index = index + 1 %}
      {% endfor %}
    </div>{% elseif Product.ProductImage|length == 1 %}
      {% for ProductImage in Product.ProductImage %}<img src="{{ app.config.image_save_urlpath }}/{{ ProductImage|no_image_product }}" alt="" class="img-responsive"/>  {% endfor %}
    {% else %}<img src="{{ app.config.image_save_urlpath }}/{{ ''|no_image_product }}" alt="no image" class="img-responsive"/>{% endif %}
  </div>{# 商品情報 #}
  <div class="col-sm-6">
    <h1 class="page-header">{{  Product.name }}</h1>{# 通常価格 #}
    {# 通常価格を取得 #}
    {% set price01 = null %}
    {% if Product.hasProductClass -%}
      {% if Product.getPrice01Min == Product.getPrice01Max %}
        {% set price01 = Product.getPrice01IncTaxMin|price %}
      {% elseif Product.getPrice01Min is not null and Product.getPrice01Max is not null %}
        {% set price01 = Product.getPrice01IncTaxMin|price ~ '〜' ~ Product.getPrice01IncTaxMax|price %}
      {% endif %}
    {% else -%}
      {% if Product.getPrice01Max is not null %}
        {% set price01 = Product.getPrice01IncTaxMin|price %}
      {% endif %}
    {% endif -%}
    {# 通常価格を表示 #}
    {% if price01 is not null %}
    <p> <small>通常価格：{{ price01 }} 税込</small></p>{% endif %}
    {# 販売価格 #}
    {# 販売価格を取得 #}
    {% set price02 = null %}
    {% if Product.hasProductClass -%}
      {% if Product.getPrice02Min == Product.getPrice02Max %}
        {% set price02 = Product.getPrice02IncTaxMin|price %}
      {% elseif Product.getPrice02Min is not null and Product.getPrice02Max is not null %}
        {% set price02 = Product.getPrice02IncTaxMin|price ~ '〜' ~ Product.getPrice02IncTaxMax|price %}
      {% endif %}
    {% else -%}
      {% if Product.getPrice02Max is not null %}
        {% set price02 = Product.getPrice02IncTaxMin|price %}
      {% endif %}
    {% endif -%}
    {# 販売価格を表示 #}
    {% if price02 is not null %}
    <p class="lead"><strong class="text-primary">{{ price02 }}</strong>  <small>税込 </small></p>{% endif %}
    <hr/>{% if Product.code_min != '' or (Product.ProductCategories|length) > 0 %}
    <dl>
      {# 商品コード #}
      {%- if Product.code_min != '' %}
      <dt>商品コード</dt>  {%- if Product.hasProductClass -%}
      <dd>{{ Product.code_min }} ～ {{ Product.code_max }}</dd>  {%- else -%}
      <dd>{{ Product.code_min }}</dd>  {%- endif -%}
      <hr/>{%- endif -%}
      {% if (Product.ProductCategories|length) > 0 %}
      {# 関連カテゴリ #}
      <dt>関連カテゴリ</dt>
      <dd>
        {% for ProductCategory in Product.ProductCategories %}
          {% for Category in ProductCategory.Category.path %} <a href="{{ url('product_list') }}?category_id={{ Category.id }}">{{ Category.name }}</a>  {% endfor %}<br/>{% endfor %}
      </dd>{%- endif -%}
    </dl>
    <hr/>{% endif %}
    {# 買い物カゴ #}
    <form action="?" method="post" id="form1" name="form1" class="form-horizontal">
      {% if Product.stock_find %} 
        {# 規格 #}
        {% if form.classcategory_id1 is defined %}
      <div class="form-group">
        <div class="col-md-9">
          {# 規格1 #}
          {{ form_widget(form.classcategory_id1) }} {{ form_errors(form.classcategory_id1) }}
        </div>
      </div>  {% endif %}
        {% if form.classcategory_id2 is defined %}
      <div class="form-group">
        <div class="col-md-9">
          {# 規格2 #}
          {{ form_widget(form.classcategory_id2) }} {{ form_errors(form.classcategory_id2) }}
        </div>
      </div>  {% endif %}
      <div class="form-group">{# 数量 #}
        <div class="col-sm-3">
          <label class="control-label">数量</label>
        </div>
        <div class="col-sm-3">{{ form_widget(form.quantity) }} {{ form_errors(form.quantity) }}</div>
      </div>
      <div class="form-group">{# カートボタン #}
        <div class="col-md-9">
          <button type="submit" class="btn btn-primary btn-lg btn-block">カートに入れる</button>
        </div>
      </div>{% else %}
        {# 在庫がない場合は品切れボタンのみ表示 #}
      <div class="form-group">
        <div class="col-md-8">
          <button type="submit" disabled="disabled" class="btn btn-default btn-lg btn-block">ただいま品切れ中です</button>
        </div>
      </div>{% endif %}
      {{ form_rest(form) }}
    </form>{# 商品説明 #}
    {% if Product.description_detail %}
    <hr/>
    <p>{{ Product.description_detail }}</p>{% endif %}
    {# フリーエリア #}
    {% if Product.freearea %}
    <hr/>
    <div>{{ include(template_from_string(Product.freearea)) }}</div>
  </div>{% endif %}
</div>{% endblock %}