
{% extends 'default_frame.twig' %}
{% set body_class = 'cart_page' %}
{% block javascript %}
<script src="//ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script>
  $(function() {
      $('#zip-search').click(function() {
          AjaxZip3.zip2addr('nonmember[zip][zip01]', 'nonmember[zip][zip02]', 'nonmember[address][pref]', 'nonmember[address][addr01]');
      });
  });
</script>{% endblock %}
{% block main %}
<h1 class="page-header">お客様情報の入力</h1>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ol class="breadcrumb text-center">
      <li class="text-muted"><span class="label label-default">1</span> カートの商品</li>
      <li class="active"><span class="label label-primary">2</span><strong class="text-primary"> お客様情報</strong></li>
      <li class="text-muted"><span class="label label-default">3</span> ご注文内容確認</li>
      <li class="text-muted"> <span class="label label-default">4</span> 完了</li>
    </ol>
    <form method="post" action="{{ url('shopping_nonmember') }}">{{ form_widget(form._token) }}
      <dl class="dl-horizontal">
        <dt>{{ form_label(form.name) }}<small class="text-primary"> ※必須</small></dt>
        <dd class="form-group">
          <div class="row">
            <div class="col-sm-4">
              {{ form_widget(form.name.name01, { attr : { placeholder: '姓' }}) }}
              {{ form_errors(form.name.name01) }}
            </div>
            <div class="col-sm-4">
              {{ form_widget(form.name.name02, { attr : { placeholder: '名' }}) }}
              {{ form_errors(form.name.name02) }}
            </div>
          </div>
        </dd>
        <dt>{{ form_label(form.kana) }}<small class="text-primary"> ※必須</small></dt>
        <dd class="form-group">
          <div class="row">
            <div class="col-sm-4">
              {{ form_widget(form.kana.kana01, { attr : { placeholder: 'セイ' }}) }}
              {{ form_errors(form.kana.kana01) }}
            </div>
            <div class="col-sm-4">
              {{ form_widget(form.kana.kana02, { attr : { placeholder: 'メイ' }}) }}
              {{ form_errors(form.kana.kana02) }}
            </div>
          </div>
        </dd>
        <dt>{{ form_label(form.company_name) }}</dt>
        <dd class="form-group">
          <div class="row">
            <div class="col-sm-8">
              {{ form_widget(form.company_name) }}
              {{ form_errors(form.company_name) }}
            </div>
          </div>
        </dd>
        <dt>{{ form_label(form.address) }}<small class="text-primary"> ※必須</small></dt>
        <dd>
          <div class="row">
            <div class="col-sm-12 form-inline form-group {% if form.zip.zip01.vars.errors is not empty or form.zip.zip02.vars.errors is not empty %}text-danger{% endif %}">{{ form_widget(form.zip) }}</div>
          </div>
          <div class="row">
            <div class="col-sm-12 {% if form.address.pref.vars.errors is not empty or form.address.addr01.vars.errors is not empty or form.address.addr02.vars.errors is not empty %}text-danger{% endif %}">
              {{ form_widget(form.address) }}
              {{ form_errors(form.address) }}
            </div>
          </div>
        </dd>
        <dt>{{ form_label(form.tel) }}<small class="text-primary"> ※必須</small></dt>
        <dd class="form-group form-inline">
          <div class="row">
            <div class="col-sm-12">
              {{ form_widget(form.tel, {attr : {class : 'short'}}) }}
              {{ form_errors(form.tel) }}
            </div>
          </div>
        </dd>
        <dt>{{ form_label(form.email) }}<small class="text-primary"> ※必須</small></dt>
        <dd>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group {% if form.email.first.vars.errors is not empty %}text-danger{% endif %}">{{ form_widget(form.email.first) }}</div>
              <div class="form-group {% if form.email.second.vars.errors is not empty %}text-danger{% endif %}">
                {{ form_widget(form.email.second, {attr: {placeholder: '確認のためもう一度入力してください'}}) }}
                {{ form_errors(form.email.first) }}
                {{ form_errors(form.email.second) }}
              </div>
            </div>
          </div>
        </dd>
      </dl>
      <div class="row col-sm-4 col-sm-offset-4">
        <button type="submit" class="btn btn-primary btn-block">次へ</button><a href="{{ url('cart') }}" class="btn btn-info btn-block">戻る</a>
      </div>
    </form>
  </div>
</div>{% endblock %}