
<p class="text-center"><a href="{{ url('help_about') }}">当サイトについて</a> | <a href="{{ url('help_privacy') }}">プライバシーポリシー</a> | <a href="{{ url('help_tradelaw') }}">特定商取引法に関する法律について</a> | <a href="{{ url('contact') }}">お問い合わせ</a></p>
<p class="text-center"><small>copyright (c) {{ BaseInfo.shop_name }} all rights reserved.</small></p>