
<ul class="text-center list-inline">
  <li><a href="{{ url('help_about') }}">当サイトについて</a></li>
  <li><a href="{{ url('help_privacy') }}">プライバシーポリシー</a></li>
  <li><a href="{{ url('help_tradelaw') }}">特定商取引法に関する法律について</a></li>
  <li><a href="{{ url('contact') }}">お問い合わせ</a></li>
</ul>
<p class="text-center"><small>copyright (c) {{ BaseInfo.shop_name }} all rights reserved.</small></p>