
<div class="row">
  <div class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="thumbnail"> <img src="{{ app.config.front_urlpath }}/img/top/img10.jpg" alt=""/></a></div>
  <div class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="thumbnail"> <img src="{{ app.config.front_urlpath }}/img/top/img10.jpg" alt=""/></a></div>
  <div class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="thumbnail"> <img src="{{ app.config.front_urlpath }}/img/top/img10.jpg" alt=""/></a></div>
  <div class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="thumbnail"> <img src="{{ app.config.front_urlpath }}/img/top/img10.jpg" alt=""/></a></div>
  <div class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="thumbnail"> <img src="{{ app.config.front_urlpath }}/img/top/img10.jpg" alt=""/></a></div>
  <div class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="thumbnail"> <img src="{{ app.config.front_urlpath }}/img/top/img10.jpg" alt=""/></a></div>
  <div class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="thumbnail"> <img src="{{ app.config.front_urlpath }}/img/top/img10.jpg" alt=""/></a></div>
  <div class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="thumbnail"> <img src="{{ app.config.front_urlpath }}/img/top/img10.jpg" alt=""/></a></div>
  <div class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="thumbnail"> <img src="{{ app.config.front_urlpath }}/img/top/img10.jpg" alt=""/></a></div>
  <div class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="thumbnail"> <img src="{{ app.config.front_urlpath }}/img/top/img10.jpg" alt=""/></a></div>
  <div class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="thumbnail"> <img src="{{ app.config.front_urlpath }}/img/top/img10.jpg" alt=""/></a></div>
  <div class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="thumbnail"> <img src="{{ app.config.front_urlpath }}/img/top/img10.jpg" alt=""/></a></div>
</div>