
<ul class="nav navbar-nav navbar-right">
  <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" class="dropdown-toggle"><i class="glyphicon glyphicon-user"></i>{% if is_granted('ROLE_USER') %}
        {{ app.user.name01 }} {{ app.user.name02 }} 様
      {% else %}
        ゲスト 様
      {% endif %}<span class="caret"></span></a>
    <ul class="dropdown-menu">{% if is_granted('ROLE_USER') %}
      <li><a href="{{ url('mypage') }}">マイページ</a></li>
      <li role="separator" class="divider"></li>
      <li class="row">
        <div class="col-xs-10 col-xs-offset-1"><a href="{{ url('logout') }}" class="btn btn-default btn-block">ログアウト</a></div>
      </li>{% else %}
      <li class="row">
        <div class="col-xs-10 col-xs-offset-1"><a href="{{ url('entry') }}" class="btn btn-success btn-block">新規会員登録</a></div>
      </li>
      <li role="separator" class="divider"></li>
      <li class="row">
        <div class="col-xs-10 col-xs-offset-1"><a href="{{ url('mypage_login') }}" class="btn btn-default btn-block">ログイン</a></div>
      </li>{% endif %}
    </ul>
  </li>
</ul>